# Tout cela ne sera pas deployé sur Google Cloud when

.gcloudignore
.git
.gitignore
.idea/
.vscode/
/node_modules/
/vendor/
docker-compose.yml
Dockerfile
.dockerignore
.env
.env.*
env.local
env.production
Homestead.yaml
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/*.log
!/storage/logs/.gitkeep
/public/hot
/public/storage
/tests/
test_db.php
test_cloud_connections.php
ecoride.sql# Custom user folders
/a/
README.md
GEMINI.md
composer.lock
